#game {
    background-color: sandybrown;
}

.game_block {
    margin: 0;
    padding: 0;
    border: 2px solid sandybrown;
    width: 25px;
    height: 25px;
    background-color: saddlebrown;
}

#player {

}