.cell{
    border: 1px solid black;
    width: 56px;
    height: 50px;
    border-collapse: collapse;
    background-color: saddlebrown;
}


#game {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}


#player {

}