.cell{
    border: none;
    width: 56px;
    height: 50px;
    border-collapse: collapse;
    background-image: url(../images/dirt.png);
    background-size: cover;
}


#game {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

}

.black {
    background: #000;
    background-image: url(../images/mine.png);
    background-size: cover;
}


.diament{
    background-image: url(../images/icons/diament.jpg);
    background-size: 100%;

}

.player {
    background-image: url(../images/player.png);
    background-size: cover;
}

#score {
 background-color: black;
 width: auto;
 text-align: center;
 color: aliceblue;
}

.gamebox{
 display: flex;
 flex-flow: row;
 justify-content: center;
    width: auto;
}

.leftpadding {
    padding: 1vw;
    color: white;
    justify-content: center;
    background-color: black;
}

.rightpadding {
    width: auto;
    background-color: black;
}
#gamefield{

}

table {
    border-spacing: 0;
    border-color: saddlebrown;
}

.white {
    background-color: white;
}