* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", Candara, Sans-Serif;
}

.clear {
    clear: both;
}

/*HEADER*/

.background {
    background-color: white;
    opacity: 0.6;
}

header {
    background-color: white;
    position: fixed;
    z-index: 12;
    right: 0;
    left: 0;
    padding-top: 10px;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

header ul li a {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
    color: darkslategray;
    text-decoration: none;
    font-family: "Josefin Sans", Candara, Sans-Serif;
    font-weight: 700;
}

ul {
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 20px;
}

li {
    display: inline-block;
}

a:hover {
    color: black;
}

a:active {
    color: darkred;
}

/* ZAJAWKA */

#callToactionZajawka {
    padding-top: 70px;
}

.more_info {
    padding: 40px 0px;
    text-align: center;
    font-size: 20px;
}

.find_out {
    font-size: 40px;
}

.find_out a:link {
    text-decoration: none;
    color: black;
}

.find_out a:visited {
    text-decoration: none;
    color: black;
}

.find_out a:hover {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.find_out a:active {
    color: darkred;
}

.zajawka_background {
    background-image: url(../images/obraz_red.jpg);
    background-size: cover;
    position: relative;
    height: 95vh;
    opacity: 1;
}

.motto {
    font-size: 50px;
    text-align: center;
    padding-top: 300px;
    width: 100%;
    height: 600px;
    opacity: 1;
    color: white;
    z-index: 10;
    position: relative;
}

.callToactionButton {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    padding: 20px 10px 10px 10px;
    border: 1px white solid;
    border-radius: 10px;
    transition: font-size 0.5s;
    font-size: 40px;
}

.callToactionButton:hover {
    color: white;
    font-size: 60px;
    cursor: pointer;
    background-color: transparent;
}

/*FUNKCJE*/

main {
    height: auto;
}

#description {
    padding-top: 70px;
    min-height: 100vh;
}

.function {
    height: 600px;
    width: 300px;
    display: inline-block;
    text-align: center;
    padding: 70px 15px 0px;
    vertical-align: top;
    margin-top: 70px;
}

.icon {
    opacity: 0.3;
    padding-bottom: 20px;
}

.description_header {
    font-size: 23px;
    padding-bottom: 10px;
}

.description_text {
    font-size: 17px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    padding: 10px;
}

/*TEAM*/

#team {
    padding-top: 180px;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: lightgrey;
}

.members {
    width: 220px;
    height: 550px;
    margin: 0px 20px;
    display: inline-block;
    align-content: center;
    background-color: white;
    border-radius: 10px;
    float: left;
    margin-left: 10px;
}

.avatar {
    padding-bottom: 20px;
}

/*FOOTER*/

footer {
    color: white;
    background-color: black;
    height: 50px;
}

#twitter {
    float: right;
    padding-top: 5px;
    padding-right: 15px;
}

#copyright {
    float: left;
    font-size: 12px;
    padding-top: 19px;
    padding-left: 15px;
}

#op-backtotop {
    float: right;
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.backtotop {
    float: right;
    position: fixed;
    bottom: 60px;
    right: 20px;
    -webkit-filter: opacity(50%); /*zmiana*/
    filter: opacity(50%); /*for Firefox*/
    transition: filter 2s linear 1s;
    z-index: 5;
}

.backtotop:hover {
    -webkit-filter: opacity(100%);
    filter: opacity(100%); /*for Firefox*/
}

a.backtotop:hover {
    -webkit-filter: opacity(100%);
    filter: opacity(100%); /*for Firefox*/
}

/*FORMULARZ*/

#email {
    text-align: center;
    background-image: url(../images/redbackground.jpg);
    background-size: cover;
    min-height: 100vh;
}

.darken {
    width: auto;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 80px auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.flex {
    align-self: center;
}

.flex p:first-child {
    font-size: 44px;
    color: white;
    text-decoration: none;
}

.flex p:nth-child(2) {
    font-size: 18px;
    color: white;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}

.emailDecoration {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    max-width: 520px;
    margin: 40px auto;
    padding: 20px;
    display: inline-block;
}

.form {
    border-radius: 4px;
    font-size: 17px;
    width: 280px;
    font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    vertical-align: middle;
    border: none;
    padding: 18px;
}

.formButton {
    background-color: red;
    font-size: 17px;
    font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    font-weight: 300;
    color: white;
    border-radius: 4px;
    padding: 18px;
    font-weight: 500;
    vertical-align: middle;
    border: none;
}