* {
    margin: 0;
    padding: 0;
}

header{
    background-color: lightgrey;
    border-bottom: solid 5px darkblue;
}

main{
    background-color: lightblue;
    height: 500px;
}

footer{
    border-top: solid 5px darkblue;
    background-color: lightgrey;
    height: 50px;
}

#text{
    float:left;
    font-size: 30px;
    text-align: center;
    width: 700px;
    background-image: image(images/obraz.jpg);

}

#obraz{

    float:right;
    padding: 10px;

}
.opis{
    clear: both;
}